/* App.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  max-width: 100%;
}

@media (max-width: 768px) {
  .filter-panel {
    position: fixed;
    top: 0;
    right: 0;
    width: 80%;
    background-color: #f3f4f6;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
    transform: translateX(100%);
    transition: transform 0.3s ease;
  }

  .filter-panel.show {
    transform: translateX(0);
  }

  .language-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2px;
  }
}

@media (min-width: 769px) {
  .filter-panel {
    display: none;
  }
}
